Tortoise-ORM==0.20.0
FastAPI==0.109.0
uvicorn[standard]==0.27.0
mysqlclient==2.2.7
celery[redis]==5.5.0
redis==5.2.1
gunicorn==21.2.0
python-dotenv==1.0.1
pydantic==2.4.0
requests==2.31.0
black==24.1.0
flake8==6.1.0
passlib[bcrypt]==1.7.4
python-jose==1.7.0
authlib==1.5.1
